[hooks]
	from-domain = gcc.gnu.org
	mailinglist = /git/gcc.git/hooks-bin/email_to.py

	# We do not want to force a maximum line length in commit
	# revision logs, as they get in the way of copy-pasting
	# debugging session, error messages, logs, etc.
	max-rh-line-length = 0

	# We allow a 0.5MiB email diff maximum.
	max-email-diff-size = 524288

	# Reject merge commits on a certain number of branches:
	#  - on master: We request that people rebase their changes
	#    before pushing instead (merge commits tend to confuse
	#    git newcomers).
	#  - on release: We apply the same policy to release branches
	#    as we have on master.
	reject-merge-commits = refs/heads/master,refs/heads/releases/.*

	# The URL where we can inspect the commit, inserted in the commit
	# notification email, and also copy sent to the file-commit-cmd.
	commit-url = "https://gcc.gnu.org/g:%(rev)s"

	# This style checker does nothing at present.
	style-checker = /git/gcc.git/hooks-bin/style_checker

	# Send a copy to bugzilla if a commit has a PR number in it.
	# The script is a wrapper around
	# /sourceware/infra/bin/email-to-bugzilla.
	file-commit-cmd = "/git/gcc.git/hooks-bin/email-to-bugzilla-filtered"

	# Work around <https://github.com/AdaCore/git-hooks/issues/9>
	# to allow larger merges.
	max-commit-emails = 5000

	# Allow deliberate merges to use the default commit message.
	# Branches that do not allow merge commits are listed in
	# reject-merge-commits.
	disable-merge-commit-checks = true
